# Mac
*.DS_Store

# Intellij Idea files
.idea
*.iml

# VS Code
.vscode

# NodeJS files
/node_modules

# Generated sources
/imports
/rules
/utils
/javascript.js
/lit.js
/prettier.js
/testing.js
/typescript.js
/typescript-requiring-type-checking.js
